
html {
	background: #fff url(background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header {
    display: block;
}

.intro { 
	color: #e0e020; 
}

.intro h1 { 
	font: italic normal 3.4em georgia, sans-serif;
	letter-spacing: 1px; 
	color: #f3f52e;
}
.intro h2 { 
	font: italic normal 2.4em georgia, sans-serif;
}
.intro h3 { 
	font: italic normal 1.4em georgia, sans-serif;
}


.navmenu {
	font: normal 1.0em georgia, sans-serif;
    padding: 0; 
    margin: 0; 
    list-style: none;
}
.navmenu li {
    float:left; 
    padding-top:2px;
}
.navmenu li a {
    display:block; 
    height:38px; 
    line-height:38px; 
    padding:0 20px 0 0; 
    float:left; 
    background: #23b14d; 
    color:#000; 
    text-decoration:none;
}
.navmenu li a b {
    display:block; 
    height:38px; 
    float:left; 
    padding:0 0 0 20px; 
    background: #23b14d;
    cursor:pointer;
}

.navmenu a:hover {
    background-position:right -51px; 
    margin-top:-2px; 
    height:40px;
}
.navmenu b:hover {
    background-position:left -51px;
    height:40px;
}

.tc-index #tc-navmenu #home a, 
.tc-tracklist #tc-navmenu #tracklist a, 
.tc-history #tc-navmenu #history a {
    background: #b5e51d; 
}

.tc-index #tc-navmenu #home b, 
.tc-tracklist #tc-navmenu #tracklist b, 
.tc-history #tc-navmenu #history b {
    background: #b5e51d; 
}


.info {
    float:left;
    width:100%;
}

.column1 {
    float:left;
    width:100%;
    background:yellow;
    position:relative;
    right:25%;

	background: #b5e51d; //url(info.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font: georgia, sans-serif;
	color: #555753; 
}

.column2 {
    float:left;
    width:100%;
    background:blue;
    position:relative;
    overflow:hidden;

	background: #23b14d; //url(sidebar.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font: 90% georgia, sans-serif;
	color: #555753; 
}

.info {
    float:left;
    width:68%;
    position:relative;
    left:26%;
    overflow:hidden;
}

.sidebar {
    float:left;
    width:32%;
    position:relative;
    left:32%;
    overflow:hidden;
}

.infotext {
    margin-left: 5%;
}


.info h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	color: #7D775C;
}
.info a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #7D775C;
}
.info a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #555753;
}
.info a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
}

.infofooter { 
	text-align: center; 
}

.links { 
    margin-left: 5%;
	font: normal 1.0em georgia, sans-serif;
}
.links h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	color: #7D775C;
}
.links ul { 
    padding:0;
    list-style-type:none;
}




