
html {
	background: #fff url(background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header {
    display: block;
}

.intro { 
	color: #e0e020; 
}

.intro h1 { 
	font: italic normal 3.4em georgia, sans-serif;
	letter-spacing: 1px; 
	color: #f3f52e;
}
.intro h2 { 
	font: italic normal 2.4em georgia, sans-serif;
}
.intro h3 { 
	font: italic normal 1.4em georgia, sans-serif;
}

.info {
    float:left;
    width:100%;
}

.column1 {
    float:left;
    width:100%;
    background:yellow;
    position:relative;
    right:25%;

	background: #b6ff00 url(info.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font: georgia, sans-serif;
	color: #555753; 
}

.column2 {
    float:left;
    width:100%;
    background:blue;
    position:relative;
    overflow:hidden;

	background: #b600ff url(sidebar.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font: 90% georgia, sans-serif;
	color: #555753; 
}

.info {
    float:left;
    width:68%;
    position:relative;
    left:26%;
    overflow:hidden;
}

.sidebar {
    float:left;
    width:32%;
    position:relative;
    left:32%;
    overflow:hidden;
}

.music {
    margin-left: 5%;
}
.diary {
    margin-left: 5%;
}
.booking {
    margin-left: 5%;
}
.gallery {
    margin-left: 5%;
}
.theband {
    margin-left: 5%;
}

.info h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	color: #7D775C;
}
.info a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #7D775C;
}
.info a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #555753;
}
.info a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
}

.infofooter { 
	text-align: center; 
}

.links { 
    margin-left: 5%;
}
.links ul { 
    padding:0;
    list-style-type:none;
}


