body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.logotext {
	height: 480px;
	background-color: #e6782c;
}

/* Turn off parallax scrolling for tablets and phones */
/*@media only screen and (max-device-width: 1024px) {*/
/*@media screen and (device-width: 1024px) {*/
/*@media screen and (min-width: 320px) {*/
@media screen and (max-resolution: 120dpi) {
 	body, html {
		background-color: #fff;
		color: #777;
	}
    /* First image (Logo. Full height) */
    .bgimg-1 {
        background-image: url('Images/TigerClubLargeHeads1.jpg');
    }
    
    /* Second image (Portfolio) */
    .bgimg-2 {
        background-image: url('Images/TigerClubHeadsA.jpg');
    }
    
    /* Third image (BIOG) */
    .bgimg-3 {
        background-image: url('Images/TigerClubHeadsB.jpg');
    }
    
    /* Fourth image (CONTACT) */
    .bgimg-4 {
        background-image: url('Images/TigerClubLargeHeads1.jpg');
    }
	/* Create a Parallax Effect */
	.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    	max-width: 100%;
	    background-attachment: scroll;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 100%;
	}
}
